<!-- <app-teacher-list></app-teacher-list> -->
<!-- <app-dash-board></app-dash-board> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">MindScape</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-link">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="products">E-commerce</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="task-tracker">Smart Task-Tracker</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="temp">Temperature</a>
        </li> 
        <li class="nav-link">
          <a class="nav-link" routerLink="product-table">Products Table</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="task-manager">Task Manager</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="studentregistration">Registration</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="animations">Animations</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="student-dashboard">Student Dashboard</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="school-navigation">Administration </a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="students">Grading</a>
        </li>         
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
